#mydiv {
  position: absolute; /* Szükséges a draggable működéséhez */
  width: 200px;
  background-color: lightblue;
  border: 1px solid black;
  padding: 10px;
  cursor: move;
}

#mydivheader {
  background-color: darkblue;
  color: white;
  padding: 5px;
  text-align: center;
  cursor: grab;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid blue; /* A háromszög színe */
  margin: 50px auto;
}