#mydiv {
  position: absolute; /* Szükséges a draggable működéséhez */
  width: 200px;
  background-color: lightblue;
  border: 1px solid black;
  padding: 10px;
  cursor: move;
}

#mydivheader {
  background-color: darkblue;
  color: white;
  padding: 5px;
  text-align: center;
  cursor: grab;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid blue; /* A háromszög színe */
  margin: 50px auto;
}
*  {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
                            
}


.circle {
  width: 100px;
  height: 100px;
  background-color: blue;
  border-radius: 50%;
}

.square {
  width: 100px;
  height: 100px;
  background-color: red;
}
.gate,.gate1,.gate2{
  width: 300px;
  height: 200px;
  background-color: green;
  position:absolute;
  width:500px;
  left:50%;
  transform:translate(-50%,0)
}

.gate1{
  top:0
}
.gate2{
  bottom:0
}



#zero-point {
  position: fixed; /* Mindig a viewport bal felső sarkában marad */
  width: 10px;
  height: 10px;
  background: red;
  top: 0;
  left: 0;
}


.userShape{
  border: 5px solid orange;
}